.addMenu a:link {
  color: #000;
  text-decoration: none;
}

.addMenu a:visited {
  color: #000;
  text-decoration: none;
}

.addMenu a:hover {
  color: #ff6347;
  text-decoration: none;
}

.gearList li{
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  border-bottom-style: dashed;
  border-width: 1px;
  font-size: 1.3em;
}

.gearList li:first-child{
  border-top-style: dashed;
}

.gearList input {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0;
  padding-right: 5px;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  padding: 20px 0 0 35px;
}

#newItemButton {
  padding: 20px 0 0 35px;
}

form legend {
  color: #000;
  font-size: 2em;
  
  border-bottom: 1px solid #000;
}

label {
  font-weight: 100;
}

ul {
  padding: 0px;
  margin: 0;
}

.complete {
  background-color: #999;
  color: #fff;
}

/*CHECKBOX STYLES*/

input[type="checkbox"] {
  display: none;
}

input[id^="checkbox-1-"] + label {
  background-color: #fff;
  padding: 10px 0 10px 60px;
  display: inline-block;
  position: relative;
  /*border-bottom: 1px dashed #000;*/
  margin-right: 30px;
  color: #000;
  /*font-size: 1.7em;*/
  width: 100%;
}

[id^="checkbox-1-"] + label:active  {
  /*border-top: none;*/
  background-color: #7accc8;
  padding-left: 60px;
  /*box-shadow: inset 0 3px 8px rgba(129, 69, 13, 0.3), inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);*/  
}

[id^="checkbox-1-"] + label:after {
  content: ' ';
  border-radius: 100px;
  width: 32px;
  position: absolute;
  top: 5px;
  left: 8.5px;
  border: 1px solid;
  background-color: #fff;
  height: 32px;
}

[id^="checkbox-1-"] + label:before {
  content: ' ';
  /*border-radius: 100px;*/
  width: 20px;
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 999;
  height: 20px;
  display: none;
  background: #7accc8;

}

[id^="checkbox-1-"]:checked + label:before {
  display: block;
}