.listMenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.listMenu li {
  list-style: none;
  border-bottom-style: dashed;
  border-width: 2px;
  clear: left;
  font-size: 20px;
  padding: 5px 0 5px 10px;
}

.wordList .addMenu {
  list-style: none;
  border-bottom-style: dashed;
  border-width: 2px;
  clear: left;
  font-size: 20px;
  padding: 5px 0 5px 10px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.addMenu a:link {
  color: #000;
  text-decoration: none;
}

.addMenu a:visited {
  color: #000;
  text-decoration: none;
}

.addMenu a:hover {
  color: #ff6347;
  text-decoration: none;
}

.listMenu a:link {
  color: #000;
  text-decoration: none;
}

.listMenu a:visited {
  color: #000;
  text-decoration: none;
}

.listMenu a:hover {
  color: #ff6347;
  text-decoration: none;
}

.listMenu li:first-child {
  border-top-style: dashed;
}

.gearList li{
  list-style: none;
  border-top-style: dashed;
  border-width: 2px;
  clear: left;
  font-size: 20px;
  padding: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0px;
}

/*.gearList li:first-child {
  border-top-style: dashed;
}*/

#gearList {
  border-bottom-style: dashed;
  border-width: 2px;
}

.gearList li input {
  float: left;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.gearList li input {
  position: absolute;
  left: -9999px;
  background-color: #ab576c;
}

.gearList li input + label {
  background-color: #ab576c;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  padding: 10px;
}

form legend {
  color: #000;
  font-size: 2em;
  padding-left: 10px;
}